<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li>Brought to you by <a href="http://christiantietze.de" title="Christian Tietze">Christian Tietze</a>, author, speaker, teacher, and app developer.</li>
          <li>Drop me a line: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="/contact/">Contact & Legal Info</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          <li><a  href="http://github.com/CleanCocoa/cleancocoa.github.io/raw/master/{{page.path}}">View Source</a></li>

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">        
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
