{% assign page = include.post %}
{% assign content = page.content %}
<article class="post post--index" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post__header">
    <h1 class="post__title" itemprop="name headline">
      <a class="post-link post-link--title" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    </h1>
    <ul class="post__meta">
      <li class="post__meta-item"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></li>
      
      {% if page.author %}
      <li class="post__meta-item">
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          {% assign author = site.data.authors[page.author] %}
          <a href="/authors/#{{ author.name | url_ecape }}" rel="author"><span itemprop="name">{{ author.name }}</span></a>
        </span>
      </li>
      {% endif %}
    </ul>
  </header>

  <div class="post-content" itemprop="articleBody">
{{ content }}
  </div>
  
  <footer>
    <ul class="post__meta">
      <li class="post__meta-item"><a class="post__permalink" href="{{ page.url | prepend: site.baseurl }}">&infin; Permalink</a></li>
      
      {% if page.tags %}
      <li class="post__meta-item">Tags:
        <ul class="post__tags">
          {% for tag in page.tags %}
          <li class="post__tag"><a class="post__tag-link" href="/posts/tags/#{{ tag | url_escape }}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}
    </ul>
  </footer>

</article>
