/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6 {}
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: 1em;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: 1em;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    font-weight: $base-font-weight;
}

h1 { font-size: 218%; line-height: 1.1em; margin-bottom: 0.45em; }
h2 { font-size: 164%; }
h3, .page-heading { font-size: 145%; }
h4, h5, h6 { font-size: 118%; }



/**
 * Links
 */
a {
  color: $link-color;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $link-color;

  &:visited {
    $color: darken($brand-color, 15%);;
    color: $color;
  }

  &:hover {
    border-bottom-color: transparent;
  }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 1em solid $grey-color-light;
    padding-left: 1em;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre, code {
  font-family: $font-code;
}

code { font-size: $small-font-size; }

pre {
  background-color: #eef;
  
  padding: 0.5em 1em;
  overflow-x: auto;
  line-height: 1.3;

  > code {
    font-size: 80%;
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-right: 5%;
    padding-left: 5%;
    @extend %clearfix;

    @include above_breakpoint() {
        max-width: 40em;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

// VG WORT images are counter pixels and need not be visible
img.vgwort { border: 0; padding: 0; position: absolute; top: -9999px; left: -9999px; }
