/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 2em;
  font-weight: 300;
  line-height: 2em;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    text-decoration: none;
    border-bottom-color: transparent;
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 1em;

  .menu-icon {
    display: none;
  }

  @include below_breakpoint() {
    position: absolute;
    top: 9px;
    right: 9px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 3em;
      height: 2em;
      line-height: 0;
      padding-top: 1em;
      text-align: center;
      border-bottom-color: transparent;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }
  }
  
  @include above_breakpoint() {
    // Visually align with title baseline
    padding-top: 1.6em;
  }
}

.mainmenu { list-style-type: none; }
.mainmenu__link {
  padding: 0.4em 1em;
  color: $text-color;
  display: block;
  
  @include below_breakpoint() {
    border-bottom-color: transparent;
  }

  @include above_breakpoint() {
    padding: 0;
    display: inline-block;
  }
}
.mainmenu__item { 
  display: block;
  
  margin-right: 0;
  line-height: $base-line-height;
  
  @include above_breakpoint() {
    display: inline-block;
    margin-left: 1em;
  }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: 1em 0;
}

.footer-heading {
    margin-bottom: 1em;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

$footer-spacing: 30px;
.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: $footer-spacing / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $footer-spacing / 2;
    padding-left: $footer-spacing / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$footer-spacing} / 2));
    width:         calc(35% - (#{$footer-spacing} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$footer-spacing} / 2));
    width:         calc(20% - (#{$footer-spacing} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$footer-spacing} / 2));
    width:         calc(45% - (#{$footer-spacing} / 2));
}

@include above_breakpoint() {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$footer-spacing} / 2));
        width:         calc(50% - (#{$footer-spacing} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$footer-spacing} / 2));
        width:         calc(100% - (#{$footer-spacing} / 2));
    }
}

@include below_breakpoint() {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$footer-spacing} / 2));
        width:         calc(100% - (#{$footer-spacing} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: 1em 0;
}


/**
 * Posts
 */
.post-header {

}

.post--index { margin-bottom: 6em; }

.post__meta {
  font-size: $small-font-size;
  color: $grey-color;
  
  display: block;
  list-style-type: none; 
  margin-left: 0;
  margin-right: 0;
}
.post__meta .post__meta-item { display: inline; }
.post__meta .post__meta-item:not(:last-child):after { content: " •"; }

.post__tags { 
  display: inline;
  list-style-type: none; 
  margin: 0;
}
.post__tag { display: inline; }
.post__tag:not(:last-child):after { content: ","; }
.post__tag-link {}

.post-link {
  display: block;
}
.post-link--title {
  text-decoration: none;
  border-bottom-color: transparent;
}

.post-content {
    margin-bottom: 1em;

    h2 {
        font-size: 32px;

        @include above_breakpoint() {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include above_breakpoint() {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include above_breakpoint() {
            font-size: 18px;
        }
    }
}

.post-figure { text-align: center; }
.post-figure__image { max-width: 80%; }
.post-figure__caption { }

/** Post Archive */

.archive-month {
  font-size: $small-font-size;
  text-align: left;
}
.archive-posts { margin-bottom: 1em; }
.archive-post {  font-size: $small-font-size; }
.archive-post__title { vertical-align: top; }
.archive-post__day { 
  vertical-align: top; 
  text-align: center; 
}

/** Wiki */

.wiki-actions { 
  list-style-type: none; 
  margin-left: 0;  

  @include above_breakpoint() {
    float: right;
  }
}
.wiki-actions--header {
  display: none;
  
  @include above_breakpoint() {
    display: block;
    margin-top: -2.5em;
  }
}
.wiki-action { 
  display: inline-block;
  font-size: $small-font-size; 
  padding-left: 1.5em;
}
.wiki-action__link { 
  border: 1px solid $link-color; 
  padding: 0.5em 0.7em;
  &:hover { border-bottom-color: inherit; }

  @include transition((background-color, color, border-color), 0.15s, ease-out);
  @include contrast_button($link-color, #fff);
}
