/** Solarized colors */

$color-s-base03:    #002b36;
$color-s-base02:    #073642;
$color-s-base01:    #586e75;
$color-s-base00:    #657b83;
$color-s-base0:     #839496;
$color-s-base1:     #93a1a1;
$color-s-base2:     #eee8d5;
$color-s-base3:     #fdf6e3;
$color-s-yellow:    #b58900;
$color-s-orange:    #cb4b16;
$color-s-red:       #dc322f;
$color-s-magenta:   #d33682;
$color-s-violet:    #6c71c4;
$color-s-blue:      #268bd2;
$color-s-cyan:      #2aa198;
$color-s-green:     #859900;
