---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post__header">
    <h2 class="post__title" itemprop="name headline">{{ page.title }}</h2>
    <ul class="post__meta">
      <li class="post__meta-item"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></li>
      
      {% if page.author %}
      <li class="post__meta-item">
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          {% assign author = site.data.authors[page.author] %}
          <a href="/authors/#{{ author.name | url_ecape }}" rel="author"><span itemprop="name">{{ author.name }}</span></a>
        </span>
      </li>
      {% endif %}
    </ul>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  <footer>
    {% if page.tags %}
    <ul class="post__meta">
      <li class="post__meta-item">Tags:
        <ul class="post__tags">
          {% for tag in page.tags %}
          <li class="post__tag"><a class="post__tag-link" href="/posts/tags/#{{ tag | url_escape }}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
    {% endif %}
  </footer>

</article>
